@model System.Web.Mvc.HandleErrorInfo

@{
    ViewBag.Title = "Error";
}

<h1 class="text-danger mt-5 mb-4">Error!!!</h1>
<h2 class="text-danger">
    An error occurred while processing your request.
    Please contact with the site administrators about your problems.....
</h2>

<address>
    <strong>AuStuMate Manager</strong><br>
    YangZhou University<br>
    Yangzhou, CN 228500<br>
    Phone: 130-1371-2718
</address>

<address>
    <strong>Mailbox</strong><br>
    <a class="text-dark" href="mailto:Rakib.1508@outlook.com">Rakib.1508@outlook.com</a>
</address>

<h2 class="text-info">Thanks for your co-operation.</h2>
