@model System.Web.Mvc.HandleErrorInfo

@{
    ViewBag.Title = "Locked Out";
}

<hgroup>
    <h1 class="text-danger mt-5 mb-3">Locked out.</h1>
    <h2 class="text-danger">This account has been locked out, please try again later.</h2>
</hgroup>

<p>
    Contact site administrator
</p>

<address>
    <strong>AuStuMate Manager</strong><br>
    YangZhou University<br>
    Yangzhou, CN 228500<br>
    Phone: 130-1371-2718
</address>

<address>
    <strong>Mailbox</strong><br>
    <a class="text-dark" href="mailto:Rakib.1508@outlook.com">Rakib.1508@outlook.com</a>
</address>